/* todo style separato per partials */

/* header  */
#headLogo {
    height: 5rem;
    margin: 1rem 0;
}



/* Content HOME  */

#main {
    background-color: #1c1c1c;
    color: white;
}

#cardBox {
    padding: 1rem 0;
}

#jumbo {
    height: 25rem;
    background-image: url("../images/jumbotron.jpg");
    background-size: cover;
}

#series {
    left: 10%;
}

.thumb {
    width: 100%;
    aspect-ratio: 1;
    margin-bottom: 1rem;
}

/* footer  */

/* bluebar  */
#bluebar {
    background-color: #0282f9;
}

.linkCard {
    height: 8rem;
}

.blueIcon {
    height: 50%;
}

/* main footer */

#linkContainer {
    width: 35rem;
    height: 30rem;
    padding: 2rem 0;
}

#footerMain {
    background-image: url("../images/footer-bg.jpg");
    background-size: cover;

}

#bgLogo {
    width: 50%;
    background-size: cover;
    background-position: center;
    background-image: url("../images/dc-logo-bg.png");
}

/* footersocial */

#footerSocials {
    background-color: #303030;
    height: 6rem;
}

#signUp {
    border: solid 2px #008bff;
}

.socialIcon {
    background-color: #797979;
    height: 2rem;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}